.delivery-history {
    padding: 30px;
    max-width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: rgb(240, 240, 240);
}

.delivery-history-detail {
    padding: 30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: rgb(240, 240, 240);
}

/* -----------------------------History Menu------------------------------- */
.history-menu {
    margin: 2rem 0 2rem 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    gap: 5px;
    width: 90%;
    height: 60px;
  }
  
  /* Gaya dasar untuk tombol */
  .history-menu .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    height: 60px;
    border-radius: 4px;
    transition: all 0.2s ease;
    position: relative;
    gap: 10px;
  }
  
  .history-menu .value:hover,
  .history-menu .value:focus {
    background-color: #dadada;
  }
  
  .history-menu .value.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .history-menu .value svg {
    color: #818181;
    width: 15px;
  }
/* -----------------------------Card History Overview------------------------------- */
.card-history-position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90rem;
    width: 100%;
}

.card-history-container {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background-color: white;
    width: 47%;
    height: 100%;
    margin: 20px 10px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.des-card-history {
    margin-top: 10px;
    border-top: rgb(189, 189, 189) 1.5px solid;
    border-bottom: rgb(189, 189, 189) 1.5px solid;
    display: flex;
    height: 15rem;
    align-items: center;
    font-size: 1.2rem;
}

.des-card-history div span {
    font-weight: bold;
}

.img-history-container {
    margin: 20px;
}

.img-history-container img {
    max-width: 10rem;
    max-height: 10rem;
}

.summary-card-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: auto; /* Menempatkan summary card di bagian bawah */
}

.summary-card-history div {
    display: flex;
    gap: 10px;
}

.status-pesanan {
    max-width: 190px;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
    text-align: center; /* Atur sesuai kebutuhan */
    margin-left: auto; /* Menempatkan status ke kanan */
}

.pending-status {
    background-color: #999; /* atau warna abu-abu lainnya sesuai kebutuhan */
}

.process-status {
    background-color: yellow;
}

.complete-status {
    background-color: rgb(0, 255, 0);
}

.button-history {
    padding: 0.3em 0.75em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: #000000;
    z-index: 1;
}

.button-history::before,
.button-history::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #000000;
    transition: 1s ease;
}

.button-history::before {
    top: 6em;
    left: 2em;
}

.button-history::after {
    left: calc(100% + 1em);
    top: calc(100% + -6em);
}

.button-history:hover::before,
.button-history:hover::after {
    height: 205px;
    width: 205px;
}

.button-history:hover {
    color: rgb(255, 255, 255);
}

.button-history:active {
    filter: brightness(.8);
}
/* -----------------------------Card History Overview------------------------------- */
/* -----------------------------Card History Detail------------------------------- */
.history-detail-card {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
}

.history-detail-card > div {
    padding: 20px;
}

.history-status-progress {
    margin-bottom: 20px;
}

.history-shipping-address {
    border-top: 1px solid rgb(163, 163, 163);
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 20px;
}

.history-shipping-address span {
    font-weight: 700;
}

.history-shipping-address div {
    margin-top: 20px;
    font-size: 15px;
}

.history-product-details {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgb(163, 163, 163); */
}

.history-product-details img {
    margin-right: 15px;
    border-radius: 20px;
    max-width: 10rem;
}

.history-product-details div {
    font-size: 15px;
}

table {
}

.history-shopping-summary td:first-child {
    border-left: none;
}

.history-shopping-summary td:last-child {
    border-right: none;
}

table tbody tr td {
    text-align: right;
}
/* -----------------------------Card History Detail------------------------------- */
